:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

body.dark-mode {
    --bg-color: #333333;
    --text-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}
h1 {
    color: #000; 
}
body.dark-mode title{
    color: #fff;
}
body.dark-mode h1 {
    color: #fff; 
}
#toggle-theme {
    position: fixed;
    top: 20px; 
    right: 20px; 
    z-index: 1000; 
}

